#amazon{
    width: 400px;
    height:40px;
    font-size:15px;
    background: linear-gradient(#f7f7f7, #F0C15D);
    border: 0.5px solidcolor #f7f7f7;
    border-radius:5px;
    margin-top: 10px;
  }

  #amazon:hover{
    background: linear-gradient(#f7f7f7, #F0C15D)
  }

  body {
    font-size: 15px;
    line-height: 20px;
    color: black;
    font-family: Arial,sans-serif;
}

img{
    margin: auto;
    display: block;
  }

  #SignBorder{
    position: static;
    margin: 0 auto;
    border-color: whitesmoke;
    border: 0.5px solid whitesmoke;
    border-radius: 5px;
    width: 350px;
    padding-left: 25px;
  }
  
  input{
    border-left-color: whitesmoke;
    border-right-color: whitesmoke;
    border-radius: 5px;
    border-width: 0.5px;
    height: 25px;
    width: 350px;
    margin-bottom: 15px;
  }




#SignInTxt{
  font-family: Arial, sans-serif;
  font-size: 25px;
}

h2 {
   color: black;
   font-weight: normal;
   letter-spacing: 1px;
   font-size: 10px;
   width: 325px;
   text-align: center;
   border-top: 1px solid black;
   border-bottom: 1px solid dark gray;
   line-height: 0.5em;
   margin: 10px 0 20px;
   margin-bottom: 5px;
}

h2 span {
    background: whitesmoke;
    padding:0 10px;
}

#createAccount{
  margin-top: 25px;
}

#newAccount{
  background: linear-gradient(whitesmoke, white);
  margin-top: 10px;
  margin-bottom: 20px;
  width:325px;
  height:30px;
  font-size:15px;
  border: 0.5px solid #aaaaaa;
  border-radius:5px;
}

#newAccount:hover{
  background: linear-gradient(whitesmoke, white);
}
  




/*------footer-----------------*/

#footer{
    border: 0;
     height: 0;
     border-top: 1px solid rgba(0, 0, 0, 0.1);
     border-bottom: 1px solid rgba(255, 255, 255, 0.3);
     margin-top: 30px;
  }
  
  
  
  a:link{
    font-size: 12px;
    /*margin: 0 10px 0px 10px;*/
    margin-right: 10px;
    text-decoration: none;
    color: #0066c0
  }
  a:hover{
    text-decoration: underline;
    color: orangergb(230, 161, 28);
  }
  
  a:visited{
    color: #0066c0;
  }
  
   .links{
    font-size: 10px;
    text-align: center;
    padding-left: 15px;
  }
  
  #password{
    margin-left: 125px;
  }
  #special{
    font-size: 11px;
  }
  
  
  
  
  
  
  
  
  
  
  
  
  


